{% extends "layout.html" %}

{% block content %}

<div class="container">
  <p>Korisnici:</p>

  <ul>
  {% for korisnik in korisnici %}
    <li> {{korisnik.id}} | {{korisnik.email}} | {{korisnik.prijavljen}} | {{korisnik.ime}} | {{korisnik.telefon}} </li>
  {% else %}
    <li>Nema nikoga!</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
