{% extends "layout.html" %}

{% block content %}
<div class="container">
  <p>Korisnici:</p>

  <table>
  {% for row in korisnici|batch(3, 'No item') %}
    <tr>
      {% for column in row %}
        <td>{{ dump(column) }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>

  <ul>
  {% for korisnik in korisnici %}
    <li> {{korisnik.id}} | {{korisnik.email}} | {{korisnik.prijavljen}} | {{korisnik.ime}} | {{korisnik.telefon}} </li>
  {% endfor %}
  </ul>

</div>
{% endblock %}
