{% extends "layout.html" %}

{% block content %}
<div class="container">
  <p>Korisnici:</p>

  <ul>
  {% for svojstvo, korisnik in korisnici %}
    <li> {{svojstvo}}: {{korisnik.id}} | {{korisnik.email}} | {{korisnik.prijavljen}} | {{korisnik.ime}} | {{korisnik.telefon}} </li>
  {% endfor %}
  </ul>

</div>
{% endblock %}
