{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <p>Korisnici:</p>

    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Prijavljen</th>
        <th>Ime</th>
        <th>Telefon</th>
      </tr>
      <tr>
        {% for korisnik in korisnici|sort %}
          <tr>
            <td>{{korisnik.id}}</td>
            <td>{{korisnik.email}}</td>
            <td>{{korisnik.prijavljen}}</td>
            <td>{{korisnik.ime}}</td>
            <td>{{korisnik.telefon}}</td>
          </tr>
        {% endfor %}
      </table>

    </div>
  {% endblock %}
