{% extends "layout.html" %}

{% block content %}
<div class="container">
  <p>Korisnici:</p>

  <table>
  {% for korisnik in korisnici %}
    <tr>
      <td>{{korisnik.id}}</td>
      <td>{{korisnik.email}}</td>
      <td>{{korisnik.prijavljen}}</td>
      <td>{{korisnik.ime}}</td>
      <td>{{korisnik.telefon}}</td>
    </tr>
  {% endfor %}
  </table>

</div>
{% endblock %}
